<h2 data-component='base/h2' class='contenteditable'>部署情報<br></br></h2>
<div class='row clearfix' data-component='grid/col2'>
  <div class='col-md-3 column x-content'>
    <p data-component='base/paragraph' class='contenteditable'>部署ID
      <br></br></p>
  </div>
  <div class='col-md-9 column x-content'>
    <p class='data-bind' data-component='data/text' data-name='@section.id'><%= @section.id %></p>
  </div>
</div>
<div class='row clearfix' data-component='grid/col2'>
  <div class='col-md-3 column x-content'>
    <p data-component='base/paragraph' class='contenteditable'>部署名
      <br></br></p>
  </div>
  <div class='col-md-9 column x-content'>
    <p class='data-bind' data-component='data/text' data-name='@section.sec_name'><%= @section.sec_name %></p>
  </div>
</div>
<%= link_to("編集", edit_section_path(@section), class: "btn btn-sm btn-default contenteditable" , "data-component" => "data/link") %>
<%= link_to("戻る", sections_path, class: "btn btn-sm btn-default contenteditable" , data: { component: "base/anchor" } ) %>